@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.slider {
  padding: 3rem 0px;
  position: relative;
}

.slider h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  color: goldenrod;
  text-align: center;
  font-size: 2.5rem;
}
